
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
}


h1{
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    font-weight:900;
    text-align: center;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    display: flex;
    flex-direction: column;  
    
}


img{
    width: 100%;
    margin:0 .5em;
    border-radius: 5px;

}

h2{
    margin-top: 2em;
    color: #8A6E2F;
    text-align: center;

   a{
    text-decoration: none;
    color: #8A6E2F;
   }
}


@media (min-width:600px){
    .header{
        position: relative;
        font-size: 10em;
        font-weight: 900;
        color: #8A6E2F;
        letter-spacing: 2rem;
        text-align: center;
    }
     
    .header span{
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            animation: flip 2s infinite;
            animation-delay: calc(.2s* var(--i));
        }

        @keyframes flip{
            0%, 80%{
                transform: rotateY(360deg)
            }
        }

        h1{
            display: none;
        }


        
    .container{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9,25rem);
        gap: 20px;
        margin: 0 5rem;
    
    }

    img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;  
        filter: saturate(10%);
       
    }

    img:hover{
       filter: saturate(100%);
           
    }

    .item-3{
        grid-row: 1/3;
    }

    .item-10{
        grid-column: 2/3;
        grid-row: 4/6;
    }

    .item-22{
        grid-column: 3/4;
        grid-row: 8/10;
    }
    
    
 

}